body{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none !important;
}

li{
  list-style: none;
}

.footer-heading{
  text-transform: uppercase;
  margin-left: 40px;
}

.footer-sub-heading{
  font-size: 15px;
}
